[submodule "gstreamer"]
	path = gstreamer
	url = git://anongit.freedesktop.org/gstreamer/gstreamer
[submodule "gst-plugins-base"]
	path = gst-plugins-base
	url = git://anongit.freedesktop.org/gstreamer/gst-plugins-base
[submodule "orc"]
	path = orc
	url = git://anongit.freedesktop.org/gstreamer/orc
[submodule "gst-plugins-good"]
	path = gst-plugins-good
	url = git://anongit.freedesktop.org/gstreamer/gst-plugins-good
[submodule "gst-plugins-bad"]
	path = gst-plugins-bad
	url = git://anongit.freedesktop.org/gstreamer/gst-plugins-bad
[submodule "gst-plugins-ugly"]
	path = gst-plugins-ugly
	url = git://anongit.freedesktop.org/gstreamer/gst-plugins-ugly
[submodule "x264"]
	path = x264
	url = http://git.videolan.org/git/x264.git
