[submodule "gstreamer"]
	path = gstreamer
	url = git://anongit.freedesktop.org/gstreamer/gstreamer
[submodule "gst-plugins-base"]
	path = gst-plugins-base
	url = git://anongit.freedesktop.org/gstreamer/gst-plugins-base
[submodule "orc"]
	path = orc
	url = git://anongit.freedesktop.org/gstreamer/orc
